
body{
  background-image:url(https://oir.mobi/uploads/posts/2021-01/1611947019_16-p-krasivii-igrovoi-fon-dlya-fotoshopa-16.jpg);
  
}
.currency-converter{
    background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-color: #7A97B2;
 
}
.weather{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.search{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}