body {
    margin: 0;
}

.tic-tac-toe {
    height: 640px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('pictures/background-image.jpg');
    background-size: cover;
}

.tic-tac-toe-block {
    display: flex;
    flex-direction: column;
}

.tic-tac-toe-line {
    display: flex;
}

.tic-tac-toe-field {
    display: flex;
    height: 102px;
    width: 102px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.br {
    border: solid;
    border-width: 2px;
    border-color: white;
}

.tac {
    background-image: url("icons/tac.svg");
}

.tic {
    background-image: url("icons/tic.svg");
}