body {
    /*radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat;*/
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.buttons {
    display: flex;
    width: 80vh;
    border-radius: 50px;
    border: 2px solid black;
    padding: 10px;
    justify-content: space-evenly;
    /*background-image: linear-gradient(to bottom, #4B22A0, #8645BF);*/
}

.main-button {
    border-radius: 50px;
    opacity: 0.6;
    box-shadow: 0px 0px 5px 4px black;
    transition: opacity 0.4s;
    background-color: #00b000;
    cursor: pointer;
    font-size: 20px;

}

.main-button:hover {
    opacity: 1;
    transition: opacity 0.4s;
}

.modal {
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: white;
    flex-direction: column;
}

.modal-info1 {
    display: none;
}

.modal-info2 {
    display: none;
}

.modal-info3 {
    display: none;
}

.change-bar {
    display: flex;
    height: 75px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.button-of-module-nav {
    border: none;
    cursor: pointer;
    margin: 10px;
}

.button-of-module-nav:hover {
    transition: border-radius 1s;
    border-radius: 50px;
}

.button-prev {
    height: 50px;
    width: 75px;
    rotate: 180deg;
    background: url("images/arrow.png");
    background-size: 100% 100%;
}

.button-next {
    height: 50px;
    width: 75px;
    background: url("images/arrow.png");
    background-size: 100% 100%;
}

.button-close {
    height: 50px;
    width: 50px;
    background: url("images/close.png");
    background-size: 100% 100%;
}

.modal-main {
    display: flex;
    flex: 1;
}