
body{
    background-image: url(photo.jpg)
}
.buttons{
    text-align: center;
    cursor: pointer;
}
.button{
    width: 300px;
    height: 100px;
    color: #3D79A7;
    background-color: #CFDAE7;
}
.modal {
    margin-left: 200px;
    margin-top: -20px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    background-color: #f8d2d2;
    text-align: center;
}

.CLOSE{
    width: 200px;
    height: 100px;
    color: red;
}
.NEXT{
    width: 200px;
    height: 100px;
    color: green;
}
img{
    width: 400px;
    height: 300px;
}

.optionBreakingBad,.optionRiddlesQuestion{
    color: red;
    margin-left: 100px;
    width: 200px;
    height: 50px;
}

.QuestionH3,.AnswerH3{
    border:3px solid #245488;
    margin:2px auto;
    padding:10px;
    width:500px;
    word-break:break-all;
}
.QuestionH3{
    color: red;
}
.AnswerH3{
    color: green;
}
.h3BreakingBad{
    color: darkgreen;
}
.Phrase{
    color: #153626;
    border:3px solid #140A30;
}
.AddPhrase{
    width: 200px;
    height: 50px;
}
.ShowAnswer {
    width: 200px;
    height: 50px;
}
.selectRiddles{
    width: 200px;
    height: 50px;
    text-align: center;
}
.selectBreakingBad{
    width: 200px;
    height: 50px;
    text-align: center;
}
.defaultPhrase{
    color: #5065ee;
}
.h3Default{
    color: #310b54;
}




